.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
display: flex;
  justify-content: center;
  align-items: center;
}
.embla__slide__img {
  align-items: center;
  height: 23rem;
  object-fit: cover;
  border-radius: 1.5rem;
  display: block;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2.8rem;
  height: 2.8rem;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #236320aa;
  /* box-shadow: 0 4px 10px rgba(15, 23, 42, 0.15); */
}
.dark .embla__button {
  background-color: #61dafb00; /* gray-900-ish */
  color: #61dafbaa; /* gray-200 */
  /* box-shadow: 0 4px 10px #646cffaa; */
  outline: #61dafbaa;
}
.embla__button:focus,
.embla__button:active,
.embla__dot:focus,
.embla__dot:active {
  outline: none;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: #111827;
  outline: #111827;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.1rem #236320aa;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';

}
.dark .embla__dot:after {
    box-shadow: inset 0 0 0 0.1rem #61dafbaa;
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem #236320aa;
}
.dark .embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem #61dafb;
}
.embla__dot {
    color: #111827;
}